<%- include("../includes/header") -%>
<!--create table prontuarioConsulta(
	idProntuario smallint not null auto_increment,
	idConsulta int not null,
	diagnostico varchar(1000),
	idNutricionista smallint not null,
	primary key(idProntuario),
	foreign key(idNutricionista) references nutricionista(idNutricionista),
	foreign key(idConsulta) references agendaConsulta(idConsulta)
);

create table prontuarioConsulta(
	idProntuario int not null auto_increment,
	idConsulta int not null,
	diagnostico varchar(1000),
	idNutricionista int not null,
	idCliente int not null,
	primary key(idProntuario),
	foreign key(idNutricionista) references nutricionista(idNutricionista),
	foreign key(idCliente) references cliente(idCliente),
	foreign key(idConsulta) references agendaConsulta(idConsulta)
);

-->
<div id="content-wrapper">

<div class="container-fluid">

    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-stethoscope"></i>
            Agendar consulta
        </div>
        <div class="card-body">

                <% if(validacao.length > 0){%>
                    <div class="alert alert-danger">
                        <strong>Atenção!</strong>
                        <ul>
                            <% for(var i = 0; i < validacao.length; i++){%>
            
                            <li><%= validacao[i].msg %></li>
            
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            

            <form class="row-12" action="/consulta/agendar/<%= idConsulta %>" method="post">

                <div class="form-group col">
                    <label for="diagnostico">Diágnostico:</label>
                    <textarea class="form-control" id="diagnostico" name="diagnostico"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Cadastrar</button>
                </div>
        
            </div>
        </form>
    </div>


</div>

<%- include("../includes/footer") -%>