<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login - Krypton Suplementos</title>
  <!--link favicon-->
  <link rel="shortcut icon" href="img/favicon.ico" />
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body style="background-image: url('img/fundo.jpg')">

  <div class="container">
    
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center" ><img src="img/logo.png" alt=""></div>
      <div class="card-body"> 

        <% if(validacao.length > 0){%>
        <div class="alert alert-danger">
          <strong>Atenção!</strong>
          <ul>
              <% for(var i = 0; i < validacao.length; i++){%>

                <li><%= validacao[i].msg %></li>

              <% } %>
          </ul>
        </div>
        <% } %>
        
        <form  action="/autenticar" method="POST">
          <div class="form-group">
            <div class="form-label-group">
              <input name="login" type="text" id="login" class="form-control" placeholder="login address"autofocus="autofocus">
              <label for="login">Login</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="senha" type="password" id="inputPassword" class="form-control" placeholder="Password">
              <label for="inputPassword">Senha</label>
            </div>
          </div>
          
          <button type="submit" class="btn  btn-danger btn-block">Login</button>
        </form>
        <div class="text-center">
          <a class="d-block small" style="color:red" href="forgot-password.html">Esqueceu a senha?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
